@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

// COLORS
$Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
$Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
$Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
$Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
$Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
$White-Dark-Mode-Text-and-Light-Mode-Elements: hsl(0, 0%, 100%);


:root {
   --bg-color-header: white;
   --bg-color-country: white;
   --bg-color: #{$Very-Light-Gray-Light-Mode-Background};   
   --color: black;
   --box-shadow: rgba(0, 0, 0, .1);
}

[data-theme="dark"] {
   --bg-color-header: #{$Very-Dark-Blue-Dark-Mode-Background};
   --bg-color: #{$Very-Dark-Blue-Dark-Mode-Background};
   --bg-color-country: #{$Dark-Blue-Dark-Mode-Elements};
   --color: #{$White-Dark-Mode-Text-and-Light-Mode-Elements};
   --box-shadow: rgba(0, 0, 0, .2);
}

* {
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

body,
input,
button,
textarea,
option,
select {
   font-family: "Nunito Sans", sans-serif;
   font-size: px-to-rem(16);
}


body {
   background-color: var(--bg-color);
   color: var(--color);
}

/* nunito-sans-300 - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Nunito Sans';
   font-style: normal;
   font-weight: 300;
   src: url('../assets/fonts/nunito-sans-v15-latin-300.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-sans-regular - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Nunito Sans';
   font-style: normal;
   font-weight: 400;
   src: url('../assets/fonts/nunito-sans-v15-latin-regular.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-sans-600 - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Nunito Sans';
   font-style: normal;
   font-weight: 600;
   src: url('../assets/fonts/nunito-sans-v15-latin-600.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-sans-800 - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Nunito Sans';
   font-style: normal;
   font-weight: 800;
   src: url('../assets/fonts/nunito-sans-v15-latin-800.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
