@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

.search {
   position: relative;
   margin: px-to-rem(30) px-to-rem(20) px-to-rem(50);
   box-shadow: 1px 1px 10px 2px var(--box-shadow);
   border-radius: px-to-rem(5);
   background-color: var(--bg-color);
   height: px-to-rem(50);
   overflow: hidden;
   max-width: px-to-rem(500);
}

.search__icon {
   position: absolute;
   bottom: 0;
   left: 20px;
   transform: translateY(-50%);
   color: var(--color);
}

.search__input {
   padding-inline-start: px-to-rem(60);
   border: none;
   outline: none;
   width: 100%;
   height: px-to-rem(50);
   font-size: px-to-rem(14);
   background-color: var(--bg-color);
   color: var(--color);

   &::placeholder {
      color: var(--color);
      opacity: .8;
      transition: opacity 0.5s ease-in-out;
   }
   
   &::-ms-input-placeholder {
      color: var(--color);
      opacity: .8;
      transition: opacity 0.5s ease-in-out;
   }
}

.search:has(input:focus) {
   border: 2px solid var(--color);
}






.home__filter {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.select__container {
   position: relative;
   max-width: px-to-rem(200);
   opacity: .8;

}

.clear-filter-btn {
   border: none;
   background-color: var(--bg-color);
   color: var(--color);
   border-radius: px-to-rem(5);
   margin-inline-end: px-to-rem(27);
   padding: px-to-rem(5) px-to-rem(10);
   box-shadow: 1px 1px 10px 2px var(--box-shadow);
   cursor: pointer;
   pointer-events: none;
   opacity: 0;
   transition: opacity .3s ease-in-out;
}

.btn-visible {
   opacity: .8;
   pointer-events: auto;
   transition: opacity .3s ease-in-out;
}


.select {
   box-shadow: 1px 1px 10px 2px var(--box-shadow);
   background-color: var(--bg-color);
   color: var(--color);
   padding: px-to-rem(20);
   border-radius: px-to-rem(5);
   border: none;
   margin-inline-start: px-to-rem(20);
   cursor: pointer;
   font-weight: 300;
}

.custom-arrow {
   position: absolute;
   display: block;
   background-color: var(--bg-color);
   top: 2px;
   right: 2px;
   height: 90%;
   width: px-to-rem(20);
   pointer-events: none;
}

.custom-arrow::after {
   --size: 10px;
   position: absolute;
   content: '';
   width: 0;
   height: 0;
   right: 0;
   bottom: 0;
   transform: translate(-50%, -216%);
   border-left: var(--size) solid transparent;
   border-right: var(--size) solid transparent;
   border-top: var(--size) solid var(--color);
}

.select__container:focus-within .custom-arrow::after {
   transform: translate(-50%, -220%) rotate(180deg);
   transition: transform .4s ease-in-out;
}


@media (min-width: px-to-rem(768)) {
   .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-inline: auto;
      max-width: px-to-rem(1400);
   }

   .search {
      margin: px-to-rem(50) px-to-rem(40);
   }

   .home__filter {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
   }

   .select__container {
      margin-inline-end: px-to-rem(50);
   }

   .clear-filter-btn {
      margin: px-to-rem(20) px-to-rem(50) 0;
   }

   @media (min-width:px-to-rem(1200)) {
      .search {
         margin: px-to-rem(50) px-to-rem(30);
      }

      .select__container {
         margin-inline: px-to-rem(20);
      }

      .clear-filter-btn {
         margin-inline: px-to-rem(20);
      }
   }
}
