@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

.country {
   margin-inline: px-to-rem(20);
}

.link {
   text-decoration: none;
}

.country__btn {
   position: relative;
   display: flex;
   align-items: center;
   gap: px-to-rem(10);
   box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .3);
   margin-block: px-to-rem(40) px-to-rem(60);
   padding: px-to-rem(5) px-to-rem(20);
   color: var(--color);
   background-color: var(--bg-color-country);
   border: none;
   cursor: pointer;
   opacity: .8;
   
   &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: px-to-rem(1);
      transform: scale(0);
      transform-origin: left;
      background-color: var(--color);
      transition: transform .5s ease-in-out;
   }

   &:hover::after {
      transform: scale(1);
      transition: transform .5s ease-in-out;
   }
}

.country__name {
   margin-block: px-to-rem(20);
   font-size: px-to-rem(21);
   color: var(--color);
}

.country__wrapper {
   display: flex;
   align-items: center;
   gap: px-to-rem(3);
   margin-block-end: px-to-rem(10);
}

.country__info {
   font-weight: 600;
   font-size: px-to-rem(15);
   color: var(--color);
}

.country__answer {
   font-weight: 300;
   font-size: px-to-rem(14);
   opacity: .8;
}

.country__borders {
   margin-block: px-to-rem(50) px-to-rem(20);
   font-size: px-to-rem(18);
   font-weight: 600;
}

.country__error-msg {
   display: grid;
   place-items: center;
   margin-block-start: px-to-rem(100);
   color: red;
   font-weight: 600;
   font-size: px-to-rem(20);
}

.border__countries {
   display: flex;
   align-items: center;
   flex-flow: row wrap;
   gap: px-to-rem(32);
}

.border {
   margin-block: 0;
}

.border__country-link {
   text-decoration: none;
   color: var(--color);
}