@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

.home-country-link {
   text-decoration: none;
   display: inline-block;
   margin-inline: px-to-rem(20);
   margin-block: px-to-rem(30) px-to-rem(50);
}

.countries {
   box-shadow: 1px 1px 10px 2px var(--box-shadow);
   background-color: white;
   border-radius: px-to-rem(7);
   max-width: px-to-rem(500);


   img {
      width: 100%;
      height: auto;
      border-radius: px-to-rem(7) px-to-rem(7) 0 0;
      object-fit: cover;
   }
}

.countries__wrapper {
   margin-block-start: -6px;
   padding: 0 px-to-rem(30) px-to-rem(50);
   background-color: var(--bg-color-country);
   border-radius: 0 0 px-to-rem(5) px-to-rem(5);
   height: px-to-rem(250);
}

.countries__title {
   padding-block: px-to-rem(30) px-to-rem(20);
   color: var(--color);
   font-size: px-to-rem(20);
}

.countries__country {
   display: flex;
   align-items: center;
   gap: px-to-rem(5);
   margin-block-end: px-to-rem(7);
}

.countries__info {
   font-size: px-to-rem(18);
   font-weight: 600;
   color: var(--color);
}

.countries__span {
   opacity: .8;
   color: var(--color);
}

@media (min-width: px-to-rem(600)) {
   .countries__div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      margin-inline: auto;
      max-width: px-to-rem(1400);
   }

   .countries {
      width: 100%;
      max-width: px-to-rem(350);

      &>img {
         height: px-to-rem(175);
      }
   }
}

@media (min-width: px-to-rem(1000)) {
   .countries__div {
      grid-template-columns: repeat(3, 1fr);
   }

   .countries {
      width: px-to-rem(270);
   }
}

@media (min-width: px-to-rem(1200)) {
   .countries__div {
      grid-template-columns: repeat(4, 1fr);
   }

   .countries {
      width: px-to-rem(250);
   }
}

@media (min-width: px-to-rem(1400)) {
   .countries__div {
      grid-template-columns: repeat(5, 1fr);
   }

   .countries {
      width: px-to-rem(230);

   }
}
